/**
* all and (min-width: 400px)
*
* Anything more than 400px.
*/

html[lang="zh-tw"] body {
    background-color: rgba(0,30,0,.1);
}

html[lang="nl"] body {
    background-color: rgba(0,30,30,.1);
}

html[lang="fr"] body {
    background-color: rgba(30,30,0,.1);
}

html[lang="ru"] body {
    background-color: rgba(30,0,30,.1);
}

html[lang="cs"] body {
    background-color: rgba(30,0,0,.1);
}

html[lang="da"] body {
    background-color: rgba(0,15,30,.1);
}

html[lang="de"] body {
    background-color: rgba(0,0,30,.1);
}

html[lang="es"] body {
    background-color: rgba(15,0,30,.1);
}

html[lang="fi"] body {
    background-color: rgba(30,15,30,.1);
}

html[lang="el"] body {
    background-color: rgba(30,0,15,.1);
}

html[lang="in"] body {
    background-color: rgba(5,15,30,.1);
}

html[lang="it"] body {
    background-color: rgba(0,0,15,.1);
}

html[lang="ja"] body {
    background-color: rgba(0,15,15,.1);
}

html[lang="ko"] body {
    background-color: rgba(30,30,15,.1);
}

html[lang="hu"] body {
    background-color: rgba(30,0,0,.1);
}

html[lang="no"] body {
    background-color: rgba(0,0,30,.1);
}

html[lang="pl"] body {
    background-color: rgba(30,0,30,.1);
}

html[lang="pt-br"] body {
    background-color: rgba(15,0,0,.1);
}

html[lang="ro"] body {
    background-color: rgba(30,15,0,.1);
}

html[lang="sv"] body {
    background-color: rgba(0,15,30,.1);
}

html[lang="tr"] body {
    background-color: rgba(30,0,30,.1); /* Для каждого языка, указанного в атрибуте lang элемента <html>, устанавливается уникальный фоновый цвет для элемента <body>.
Цвета заданы в формате rgba, где первые три числа представляют красную, зеленую и синюю компоненты цвета, а последнее число — прозрачность (альфа-канал).
Примеры цветов
rgba(0,30,0,.1): Темно-зеленый цвет с прозрачностью 10%.
rgba(0,30,30,.1): Голубой цвет с прозрачностью 10%.
rgba(30,30,0,.1): Желтый цвет с прозрачностью 10%.
rgba(30,0,30,.1): Фиолетовый цвет с прозрачностью 10%.
Эти стили позволяют изменять фоновый цвет страницы в зависимости от языка, что может быть полезно для визуального различения версий сайта на разных языках. */
}
