/**
* base
*
* The base styles apply to all browsers (including older browsers that don’t support media queries). 
*/

@-ms-viewport {
    width: device-width; /*Это правило специфично для Internet Explorer и устанавливает ширину области просмотра равной ширине устройства.*/
}

/** reset + basic */

html,
body,
div,
section,
header,
h1,
h2,
h3,
abbr,
p,
a,
footer,
aside,
nav,
ul,
li {
    margin: 0;
    padding: 0; /*Сбрасывает отступы и поля для перечисленных элементов, чтобы убрать стандартные стили браузеров.*/
}

ul, li {
    display: block;
    list-style: none; /*Устанавливает элементы списка (ul, li) как блочные и убирает маркеры списка.*/

}

html {
    background: #000; /*Устанавливает черный фон для всего документа.*/
}

body {
    overflow: auto;
    padding: 0 0 25px 0;
    min-width: 220px;
    border: none;
    color: #fff;
    font: 20px/23px "museo-sans", sans-serif; /*Устанавливает автоматическое управление переполнением, отступы, минимальную ширину, убирает границы, устанавливает белый цвет текста и шрифт.*/
}

p {
    padding: 15px 15px 0 15px;
    text-align: center; /*Устанавливает отступы и выравнивание текста по центру для абзацев.*/
}

abbr,
acronym {
    border-bottom: none; /*Убирает подчеркивание для аббревиатур и акронимов.*/
}

/** $intro */

h1,
h2,
h3 {
    display: block;
    padding: 20px 15px 0 15px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
}

h1 {
    font-size: 46px;
    line-height: 46px;
}

h2 {
    font-size: 26px;
    line-height: 26px;
}

h3 {
    font-size: 23px;
    line-height: 23px;
}

    h3 + nav,
    h3 + ul {
        padding-top: 5px; /*Устанавливает стили для заголовков: отступы, цвет, выравнивание, преобразование текста в верхний регистр и жирность шрифта. Размеры шрифта и межстрочные интервалы для h1, h2, h3. Уменьшает верхний отступ для элементов nav и ul, следующих за h3.*/
    }

a {
    display: inline-block;
    padding: 0 4px;
    border-radius: 2px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    line-height: 21px;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; /*Устанавливает стили для ссылок: отображение как строчно-блочных элементов, отступы, скругленные углы, белый фон, черный цвет текста, отсутствие подчеркивания и плавные переходы.*/
}

/** $main */

.zen-validate-html,
.zen-validate-css,
.zen-license,
.zen-github,
.zen-accessibility {
    display: block;
    padding: 10px 15px 0 15px; 
}

.zen-validate-html {
    padding-top: 15px; /*Устанавливает стили для перечисленных классов: блочное отображение и отступы.
Дополнительный верхний отступ для .zen-validate-html.*/
}

footer a {
    border-radius: 0;
    background-color: #000;
    color: #fff;
}

    footer a::after {
        display: block;
        margin-top: 1px;
        padding: 1px 2px;
        border-radius: 2px;
        background: white;
        color: #000;
        content: attr(title);
        line-height: 21px; /*Устанавливает стили для ссылок в подвале: убирает скругленные углы, черный фон, белый цвет текста. Псевдоэлемент ::after для ссылок в подвале: отображает блок с содержимым из атрибута title, с белым фоном и черным текстом.*/
    }

/** $sidebar */

.wrapper li {
    display: block;
    padding: 10px 15px 0 15px; 
}

.design-selection li a.design-name,
.design-archives a,
.zen-resources a {
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    color: #fff; 
}

.design-selection li a.designer-name {
    display: block;
    overflow: hidden;
    padding: 1px 2px;
    border-radius: 2px;
}

.design-archives a,
.zen-resources a {
    display: block;
    text-align: center; /*Устанавливает стили для элементов списка в .wrapper: блочное отображение и отступы.
Стили для ссылок в .design-selection, .design-archives, .zen-resources: убирает отступы, скругленные углы, прозрачный фон, белый цвет текста.
Специфичные стили для .designer-name и центрирование текста для .design-archives a и .zen-resources a.*/
}
